In [2]:
# imports
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [10]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [9]:
race_count = df['race'].value_counts().values.tolist()
race_count

[27816, 3124, 1039, 311, 271]

In [16]:
# average age of men
average_age_men = np.mean(df[df['sex']=="Male"]['age'])
average_age_men

39.43354749885268

In [3]:
# percentage of bachelor degree
len(df['education'])

32561

In [14]:
bachelor_df = df[df['education']=='Bachelors']

In [15]:
len(bachelor_df)

5355

In [18]:
percentage = round((len(df[df['education']=='Bachelors'])/len(df))*100,1)
percentage

16.4

In [18]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [3]:
# filter the data of bachelors, Masters and Doctorate
advanced_df = df[df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

In [4]:
len(advanced_df[advanced_df['salary']=='>50K'])

3486

In [5]:
# percentage of people with more than 50k salary with advanced degree
(len(advanced_df[advanced_df['salary']=='>50K'])/len(advanced_df))*100

46.535843011613935

In [6]:
# filter other than advanced degree
non_advanced_df = df[~df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

In [7]:
# percentage of people with more than 50k salary with advanced degree
(len(non_advanced_df[non_advanced_df['salary']=='>50K'])/len(non_advanced_df))*100

17.3713601914639

In [ ]:
# What is the minimum number of hours a person works per week?
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
# What country has the highest percentage of people that earn >50K and what is that percentage?
# Identify the most popular occupation for those who earn >50K in India.

In [19]:
df['hours-per-week'].min()

1

In [30]:
# percentage of min hours 50 k salary
(len(df[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']=='>50K')])/len(df[df['hours-per-week']==df['hours-per-week'].min()]))*100

10.0

In [31]:
len(df['hours-per-week']==df['hours-per-week'].min())

32561

In [33]:
len(df[df['hours-per-week']==df['hours-per-week'].min()])

20

In [34]:
len(df[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']=='>50K')])

2

In [ ]:
df['race'].value_counts()

In [3]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [6]:
country_with_50k = df[df['salary']=='>50K']['native-country'].value_counts()

In [7]:
highest_earning_country = df[df['salary']=='>50K']['native-country'].value_counts().sort_values(ascending=False).index[0]
highest_earning_country

'United-States'

In [11]:
country_total = df['native-country'].value_counts()

In [19]:
rich_ratio_country = (df[df['salary']=='>50K']['native-country'].value_counts()/df['native-country'].value_counts()*100).sort_values(ascending=False)[0]
round(rich_ratio_country,1)

41.9

In [10]:
country_with_50k = country_with_50k.sort_values(ascending=False)

print(country_with_50k.index[0])

(country_with_50k[0]/len(df[df['native-country']==highest_earning_country]))*100

United-States

24.583476174151524

In [16]:
num_min_workers = len(df[df['hours-per-week']==df['hours-per-week'].min()])
print(num_min_workers)
rich_percentage = (len(df[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']=='>50K')])/(num_min_workers))*100
rich_percentage

20

10.0

In [15]:
len(df[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']=='>50K')])

2

In [50]:
# Identify the most popular occupation for those who earn >50K in India.
india_df_50K= df[(df['native-country']=='India')&(df['salary']=='>50K')]

In [51]:
india_df_50K['occupation'].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [12]:
df[(df['native-country']=='India')&(df['salary']=='>50K')]['occupation'].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [13]:
df[(df['native-country']=='India')&(df['salary']=='>50K')]['occupation'].value_counts().index[0]

'Prof-specialty'

In [14]:
df['race'].value_counts().values.tolist()

[27816, 3124, 1039, 311, 271]

13.4